.contacts {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 45px;
}

@media screen and (max-width:1024px) {
    .contacts {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:768px) {
    .contacts {
        font-size: 1rem;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:500px) {
    .contacts {
        font-size: 0.72rem;
    }
}