.title {
    font-size: 2rem;
    margin-bottom: 60px;
    font-style: italic;
}

@media screen and (max-width: 1440px) {
    .title {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.4rem;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        margin-bottom: 30px;
    }
}